nav {
    display: flex;
    background: linear-gradient(to right, #4F46E5, #9333EA);
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid #4F46E5;
    height: 65px;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 12px;
    transition: color 0.3s ease;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

nav ul a {
    color: #ffffffcc;
    text-decoration: none;
    padding: 8px 12px;
    font-weight: 500;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 6px;
    position: relative;

}

nav ul a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
}

nav ul a:hover::after {
    width: 100%;
}

/* nav a.active {
    color: #9333EA;
    font-weight: 700;
} */

.logo {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.logo img {
    max-height: 50px;
    margin: auto;
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

ul a {
    font-size: 22px;
    text-decoration: none;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
}

@media screen and (min-width: 1000px) {
    .search__input {
        width: 25em;
    }
}

.search__input:hover,
.search__input:focus {
    box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
    outline: none;
    background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
}

.search__input:focus+.search__button {
    background-color: #f0eeee;
}

.search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
}

.search__button:hover {
    cursor: pointer;
}

.search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
}